<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <breadcheckout>
                <active>0</active>
                <model>breadcheckout/payment_method_bread</model>
                <sort_order>25</sort_order>
                <order_status>processing</order_status>
                <title>Pay Over Time</title>
                <payment_action>authorize</payment_action>
                <api_mode>0</api_mode>
                <!-- default to sandbox mode -->
                <incomplete_checkout_message>Please click the pay over time button and complete the finance forms or choose another payment method.</incomplete_checkout_message>
                <allowcheckoutpdp>1</allowcheckoutpdp>
                <allowcheckoutcart>1</allowcheckoutcart>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
                <login_customer_on_order>1</login_customer_on_order>
                <log_enabled>0</log_enabled>
            </breadcheckout>
        </payment>
    </default>
</config>
