<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_save_before">
        <observer name="save_bread_api_version" instance="Bread\BreadCheckout\Observer\SaveBreadApiVersionObserver"/>
    </event>
</config>
