<?xml version="1.0"?>
<!--
@author Bread   copyright   2016
@author Joel    @Mediotype
-->
<config>
    <sections>
        <payment>
            <groups>
                <breadcheckout translate="label" module="breadcheckout">
                    <label>Bread Checkout</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>305</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                    <![CDATA[
                        <style>
                            .bread-logo { width: 133px; height: 44px; display: block; background: url(/skin/frontend/base/default/bread/images/bread-logo.png) 0px 0 no-repeat; }
                            .bread-brand { color: #fff; background-color: #0c5a7b; border:1px solid #ddd; padding: 10px; font-size: 125%; }
                        </style>
                        <div class="bread-brand">
                            <span class="bread-logo"></span>
                        Bread Payments by <a href="https://www.getbread.com/" target="_blank">getbread.com</a> - <b>Onsite Consumer Financing</b>.
                        <br/> Developers API reference <a href="http://developers.getbread.com/" target="_blank">Bread Developer API Reference</a>
                        </div>
                    ]]>
                    </comment>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <api_mode translate="label">
                            <label>API MODE</label>
                            <frontend_type>select</frontend_type>
                            <source_model>breadcheckout/system_config_source_apiMode</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_mode>
                        <api_public_key translate="label">
                            <label>API Public Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_public_key>
                        <api_secret_key translate="label">
                            <label>API Secret Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_secret_key>
                        <payment_action translate="label">
                            <label>Payment Action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>breadcheckout/system_config_source_paymentAction</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_action>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <comment>The Position In the Payment Method List In Checkout</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>
                        <enabled_on_product_page translate="label">
                            <label>Enabled on Product Details Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </enabled_on_product_page>
                        <enabled_on_cart_page translate="label">
                            <label>Enabled on Cart Overview Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </enabled_on_cart_page>
                        <as_low_as translate="label">
                            <label>Show "as low as" pricing to not-logged-in users</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </as_low_as>
                        <display_as_payment_method translate="label">
                            <label>Display as Payment Method on Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </display_as_payment_method>
                        <use_default_button_size translate="label">
                            <label>Use default button size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </use_default_button_size>
                        <create_customer_account translate="label">
                            <label>Auto-create customer account</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </create_customer_account>
                        <login_customer_on_order translate="label">
                            <label>Login Customer On Order From Pop Up</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </login_customer_on_order>
                        <button_on_products translate="label">
                            <label>Display as Button on Product Detail Pages When Logged In</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </button_on_products>
                        <button_design translate="label">
                            <label>Bread Button Design</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                    <div>
                                        <p>CSS that overrides the default button design styles.</p>
                                    </div>
                                ]]>
                            </comment>
                        </button_design>
                        <title translate="label">
                            <label>Payment Method Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[
                                    <div>
                                        <p>The Title for the payment method in checkout.</p>
                                    </div>
                                ]]>
                            </comment>
                        </title>
                        <incomplete_checkout_message translate="label">
                            <label>Incomplete Bread Checkout error</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                    <div>
                                        <p>The message displayed during checkout if the Bread Financing process is selected as a payment method, but has not been completed by the Customer.</p>
                                    </div>
                                ]]>
                            </comment>
                        </incomplete_checkout_message>
                        <allowcheckoutpdp translate="label">
                            <label>Allow Checkout From Bread Pop Up On Product Page</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>25</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                    <div>
                                        <p><strong>allowCheckout</strong> Explanation: If this is set to <code>false</code>,
                                        the user will only be presented with a button that allows them to return to your
                                        site rather than straight through to checkout.  If there is an <code>addToCart</code>
                                        callback specified, the button will call <code>addToCart</code> before returning to
                                        your site and the text will read <strong>Add To Cart &amp; Continue Shopping</strong>
                                        instead of just <strong>Continue Shopping</strong>.</p>
                                    </div>
                                ]]>
                            </comment>
                        </allowcheckoutpdp>
                        <allowcheckoutcart translate="label">
                            <label>Allow Checkout From Bread Pop Up On Cart Page</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>25</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                    <div>
                                        <p><strong>allowCheckout</strong> Explanation: If this is set to <code>false</code>,
                                        the user will only be presented with a button that allows them to return to your
                                        site rather than straight through to checkout.  If there is an <code>addToCart</code>
                                        callback specified, the button will call <code>addToCart</code> before returning to
                                        your site and the text will read <strong>Add To Cart &amp; Continue Shopping</strong>
                                        instead of just <strong>Continue Shopping</strong>.</p>
                                    </div>
                                ]]>
                            </comment>
                        </allowcheckoutcart>
                        <log_enabled translate="label">
                            <label>Enable Logging</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                    <div>
                                        <p>Enable Extra Logging.</p>
                                    </div>
                                ]]>
                            </comment>
                        </log_enabled>
                    </fields>
                </breadcheckout>
            </groups>
        </payment>
    </sections>
</config>