<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="custom_payment_config_provider" xsi:type="object">Bread\BreadCheckout\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="bread-category"
                type="Bread\BreadCheckout\Model\Plugin\ListProductPlugin" sortOrder="1"/>
    </type>

    <type name="Bread\BreadCheckout\Block\Checkout\Minicart">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Bread_BreadCheckout::breadcheckout/minicart.phtml</item>
                <item name="alias" xsi:type="string">breadcheckout.mini-cart</item>
                <item name="button_id" xsi:type="string">breadcheckout-mini-cart</item>
            </argument>
            <argument name="payment" xsi:type="object">Bread\BreadCheckout\Model\Payment\Method\Bread</argument>
        </arguments>
    </type>
</config>