<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_track_save_after">
        <observer name="bread_dispatch_shipment_info" instance="Bread\BreadCheckout\Observer\DispatchShipmentInfo" />
    </event>
</config>