<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="breadcheckout" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Bread Pay Checkout</label>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <comment>
                    <![CDATA[
                            <div>
                                <span class="bread-logo"></span>
                            Bread Pay by <a href="https://payments.breadfinancial.com/" target="_blank">payments.breadfinancial.com</a> - <b>Onsite Consumer Financing</b>.
                            <br/> Developers API reference: <a href="https://docs.breadpayments.com/bread-classic/docs/magento-2/" target="_blank">Bread Developer API Reference</a>
                            </div>
                    ]]>
                </comment>
                <field id="active" type="select" sortOrder="0" translate="label" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_version" type="select" sortOrder="1" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Version</label>
                    <source_model>Bread\BreadCheckout\Model\System\Config\Source\ApiVersion</source_model>
                </field>
                <field id="api_mode" type="select" sortOrder="2" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API MODE</label>
                    <source_model>Bread\BreadCheckout\Model\System\Config\Source\ApiMode</source_model>
                </field>
                <field id="api_public_key" type="text" sortOrder="3" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>validate-length maximum-length-60 validate-length minimum-length-20</validate>
		            <label>Live API Public Key</label>
                    <depends>
                        <field id="api_mode">1</field>
                        <field id="api_version">bread_2</field>
                    </depends>
                </field>
                <field id="api_secret_key" type="obscure" sortOrder="4" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
		            <validate>validate-length maximum-length-60</validate>
                    <label>Live API Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="api_mode">1</field>
                        <field id="api_version">bread_2</field>
                    </depends>
                </field>
                <field id="api_integration_key" type="text" sortOrder="5" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>validate-length maximum-length-60 validate-length minimum-length-20</validate>
		            <label>Live API Integration Key</label>
                    <depends>
                        <field id="api_mode">1</field>
                        <field id="api_version">bread_2</field>
                    </depends>
                </field>
                <field id="api_sandbox_public_key" type="text" sortOrder="6" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>validate-length maximum-length-60 validate-length minimum-length-20</validate>
                    <label>Sandbox API Public Key</label>
                    <depends>
                        <field id="api_mode">0</field>
                        <field id="api_version">bread_2</field>
                    </depends>
                </field>
                <field id="api_sandbox_secret_key" type="obscure" sortOrder="7" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>validate-length maximum-length-60</validate>
                    <label>Sandbox API Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="api_mode">0</field>
                        <field id="api_version">bread_2</field>
                    </depends>
                </field>
                <field id="api_sandbox_integration_key" type="text" sortOrder="8" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>validate-length maximum-length-60 validate-length minimum-length-20</validate>
		            <label>Sandbox API Integration Key</label>
                    <depends>
                        <field id="api_mode">0</field>
                        <field id="api_version">bread_2</field>
                    </depends>
                </field>
                <field id="classic_api_public_key" type="text" sortOrder="9" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>validate-length maximum-length-60 validate-length minimum-length-20</validate>
		            <label>Classic Live API Public Key</label>
                    <depends>
                        <field id="api_mode">1</field>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="classic_api_secret_key" type="obscure" sortOrder="10" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
		            <validate>validate-length maximum-length-60</validate>
                    <label>Classic Live API Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="api_mode">1</field>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="classic_api_sandbox_public_key" type="text" sortOrder="11" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>validate-length maximum-length-60 validate-length minimum-length-20</validate>
                    <label>Classic Sandbox API Public Key</label>
                    <depends>
                        <field id="api_mode">0</field>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="classic_api_sandbox_secret_key" type="obscure" sortOrder="12" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>validate-length maximum-length-60</validate>
                    <label>Classic Sandbox API Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="api_mode">0</field>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="payment_action" type="select" sortOrder="13" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Bread\BreadCheckout\Model\System\Config\Source\PaymentAction</source_model>
                </field>
                <field id="sort_order" type="text" sortOrder="14" translate="label" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <comment>The Position In the Payment Method List In Checkout</comment>
                    <validate>validate-number</validate>
                </field>
                <field id="enabled_on_product_page" type="select" sortOrder="15" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled on Product Details Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="enabled_on_cart_page" type="select" sortOrder="16" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled on Cart Overview Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="as_low_as" type="select" sortOrder="17" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show "as low as" pricing to not-logged-in users</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="display_as_payment_method" type="select" sortOrder="18" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display as Payment Method on Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="healthcare_mode" type="select" sortOrder="19" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Healthcare mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <comment>
                        <![CDATA[
                                    <div>
                                        <p>If yes, no item information will be sent to Bread. Also, checkout from product and cart pages will be disabled.</p>
                                    </div>
                                ]]>
                    </comment>
                </field>
                <field id="show_splitpay_label" type="select" sortOrder="20" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Splipay label on checkout title</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="use_default_button_size" type="select" sortOrder="21" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use default button size</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="button_on_products" type="select" sortOrder="22" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display as Button on Product Detail Pages When Logged In</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="button_design" type="textarea" sortOrder="23" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bread Button Design</label>
                    <comment>
                        <![CDATA[
                                <div>
                                    <p>CSS that overrides the default button design styles.</p>
                                </div>
                        ]]>
                    </comment>
                </field>
                <field id="title" type="text" sortOrder="24" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Method Title</label>
                    <comment>
                        <![CDATA[
                                <div>
                                    <p>The Title for the payment method in checkout.</p>
                                </div>
                        ]]>
                    </comment>
                </field>
                <field id="incomplete_checkout_message" type="textarea" sortOrder="25" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Incomplete Bread Checkout error</label>
                    <comment>
                        <![CDATA[
                                <div>
                                    <p>The message displayed during checkout if the Bread Financing process is selected as a payment method, but has not been completed by the Customer.</p>
                                </div>
                        ]]>
                    </comment>
                </field>
                <field id="allowcheckoutpdp" type="select" sortOrder="26" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Checkout From Bread Pop Up On Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                                <div>
                                    <p><strong>allowCheckout</strong> Explanation: If this is set to <code>false</code>,
                                    the user will only be presented with a button that allows them to return to your
                                    site rather than straight through to checkout.  If there is an <code>addToCart</code>
                                    callback specified, the button will call <code>addToCart</code> before returning to
                                    your site and the text will read <strong>Add To Cart &amp; Continue Shopping</strong>
                                    instead of just <strong>Continue Shopping</strong>.</p>
                                </div>
                         ]]>
                    </comment>
                    <depends>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="allowcheckoutcart" type="select" sortOrder="27" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Checkout From Bread Pop Up On Cart Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                                <div>
                                    <p><strong>allowCheckout</strong> Explanation: If this is set to <code>false</code>,
                                    the user will only be presented with a button that allows them to return to your
                                    site rather than straight through to checkout.  If there is an <code>addToCart</code>
                                    callback specified, the button will call <code>addToCart</code> before returning to
                                    your site and the text will read <strong>Add To Cart &amp; Continue Shopping</strong>
                                    instead of just <strong>Continue Shopping</strong>.</p>
                                </div>
                        ]]>
                    </comment>
                    <depends>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="enableonminicart" type="select" sortOrder="28" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled on Minicart page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="allowminicartcheckout" type="select" sortOrder="29" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow checkout from mini cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="embedded" type="select" sortOrder="30" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Embedded Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="split_auto_cancel" type="select" sortOrder="31" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto-cancel Failed Split-Pay Orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
				                <div>
				                    <p>When credit cards are declined, this will automatically cancel the pending transaction</p>
				                </div>
				            ]]>
                    </comment>
                    <depends>
                        <field id="api_version">classic</field>
                    </depends>    
                </field>
                <field id="per_month" type="select" sortOrder="32" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Show "As Low As" price]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                                <div>
                                    <p>If set to yes, the monthly price will be shown to the user in the payment method description at checkout.</p>
                                </div>
                        ]]>
                    </comment>
                    <depends>
                        <field id="api_version">classic</field>
                    </depends>
                </field>
                <field id="product_type_msg" type="textarea" sortOrder="33" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invalid product type message</label>
                    <comment>
                        <![CDATA[
				                <div>
				                    <p>Message displayed to user when non supported product type is in cart, such as gift card</p>
				                </div>
				            ]]>
                    </comment>
                </field>
                <field id="tenant" type="select" sortOrder="34" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tenant</label>
                    <source_model>Bread\BreadCheckout\Model\System\Config\Source\Tenant</source_model>
                </field>
                <group id="bread_advanced" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Bread Advanced Settings</label>
                    <field id="targeted_financing" type="select" sortOrder="1" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Targeted Financing</label>
                        <source_model>Bread\BreadCheckout\Model\System\Config\Source\TargetedFinancing</source_model>
                        <depends>
                            <field id="api_version">classic</field>
                        </depends>
                    </field>
                    <field id="financing_program_id" type="text" sortOrder="2" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <validate>validate-length maximum-length-36 validate-length minimum-length-36 required-entry</validate>
                        <label>Financing Program Id</label>
                        <depends>
                            <field id="targeted_financing" separator=",">1,2</field>
                        </depends>
                    </field>
                    <field id="financing_threshold" type="text" sortOrder="3" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Targeted Financing Threshold</label>
                        <comment>Cart Size (USD) over which a targeted financing program will be used</comment>
                        <validate>validate-number required-entry</validate>
                        <depends>
                            <field id="targeted_financing">1</field>
                        </depends>
                    </field>
                    <field id="financing_sku" type="text" sortOrder="4" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allow financing on SKUs</label>
                        <comment>
                            <![CDATA[
				                <div>
				                    <p>Comma separated list of SKUs on which targeted financing will be used (example: <strong>sku1,sku2,sku3</strong>)</p>
				                </div>
				            ]]>
                            </comment>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="targeted_financing">2</field>
                        </depends>
                    </field>

                    <!-- threshold_amount is a global threshold not to be confused with financing -->
                    <field id="threshold_amount" type="text" sortOrder="5" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Price threshold amount</label>
                        <validate>validate-number</validate>
                        <comment>
                            <![CDATA[
				                <div>
				                    <p>If value is set, Bread checkout will be disabled for all items or orders below the given dollar amount</p>
				                </div>
				            ]]>
                        </comment>
                    </field>
                    <field id="create_customer_account" type="select" sortOrder="6" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Auto-create customer account</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>
                    <field id="order_shipped" type="select" sortOrder="7" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Send shipping details</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="log_enabled" type="select" sortOrder="8" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Logging Locally</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>
                            <![CDATA[
                                <div>
                                    <p>Enable Extra Logging.</p>
                                </div>
                        ]]>
                        </comment>
                    </field>
                    <field id="sentry_enabled" type="select" sortOrder="9" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Send Error Information to Bread</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>
                            <![CDATA[
                                <div>
                                    <p>Proactively sends information about any Bread related issues</p>
                                </div>
                        ]]>
                        </comment>
                    </field>
                    <field id="disabled_skus" type="textarea" sortOrder="10" translate="label" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Disable Bread checkout for skus</label>
                        <comment><![CDATA[<div><p>Enter sku list separated by comma with skus of products for which Bread checkout should not be used or available (example: <strong>sku1,sku2,sku3</strong>)</p></div>]]></comment>
                    </field>
                </group>

                <group id="bread_category" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Settings: Category Pages</label>
                    <field id="enabled_on_category_page" sortOrder="0" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Display on Category Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="as_low_as" sortOrder="1" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Display lowest available price per month (to new users)</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="label_only" sortOrder="2" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Display as label only</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="display_new_window" sortOrder="3" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Display in new window (instead of modal)</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>

                    </field>
                    <field id="button_design" sortOrder="4" type="textarea" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom CSS</label>
                        <comment>
                            <![CDATA[
				                <div>
				                    <p>Enter custom CSS in a non-breaking string to overwrite default Bread CSS.</p>
				                </div>
				            ]]>
                        </comment>
                    </field>
                    <field id="use_default_button_size" sortOrder="5" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use default button size</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="categories" sortOrder="6" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Select Categories</label>
                        <source_model>Bread\BreadCheckout\Model\System\Config\Source\CategoryTree</source_model>
                    </field>
                </group>
                <group id="bread_productdetail" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Settings: Product Details Page</label>
                    <field id="button_design" type="textarea" sortOrder="0" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom CSS</label>
                        <comment>
                            <![CDATA[
				                <div>
				                    <p>Enter custom CSS in a non-breaking string to overwrite default Bread CSS.</p>
				                </div>
				            ]]>
                        </comment>
                    </field>
                </group>
                <group id="bread_cartpage" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Settings: Shopping Cart Page</label>
                    <field id="button_design" type="textarea" sortOrder="0" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom CSS</label>
                        <comment>
                            <![CDATA[
				                <div>
				                    <p>Enter custom CSS in a non-breaking string to overwrite default Bread CSS.</p>
				                </div>
				            ]]>
                        </comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
